body{
    background-color: rgb(148, 56, 56);
}
.h2{
    border: solid red;
    background: chocolate;
    font-size: 30px;
}
h1{
    margin-left:  900px;
    font-size: 50px;
    text-shadow: 4px -3px 2px red;
}
form{
    margin-left: 900px;

}
div{
    border: solid red;
    height: auto;
    background: rgb(244, 248, 16);
    margin: 19px 930px; ;
}