input{
    margin:0px 550px;
}
input[type="submit"]{
    display: block;
    margin:     5px 600px;
}
body{
    background-color: rgb(100, 100, 109);
}
h1{
    background-color: red ;
    border:   outset 10px blueviolet;
}
div ,[p]{
    margin: 0px 550px;
    background-color: brown;
    border: solid  10px ;
    max-width: 50px;
    padding: 5px 85px 5px 10px;
    font-size: 30px;
}